<div class="container">
  <div *ngIf="resultResponse"> {{ resultResponse }} </div>
  <form [formGroup]="checkoutForm" *ngIf="!resultResponse" (ngSubmit)="onSubmit()">

    <div class="cart-wrapper">
      <div *ngIf="products.length" class="user-data-form form">
        <div class="form-item">
          <label for="name">Name</label>
          <input type="text" id="name" class="input" formControlName="name" required>
        </div>
        <div class="form-item">
          <label for="email">Email</label>
          <input type="email" id="email" class="input" formControlName="email" required>
        </div>
        <div class="form-item">
          <label for="phone">Phone</label>
          <input type="tel" id="phone" class="input" formControlName="phone" required>
        </div>
        <div class="form-item">
          <label for="address">Address</label>
          <input type="text" id="address" class="input" formControlName="address" required>
        </div>
      </div>
      <div class="cart-data">
        <div *ngIf="!products.length"> Your cart is empty <a class="link" routerLink="/home">Start shopping</a> </div>
        <div class="cart" *ngFor="let product of products">
          <button class="button-remove" (click)="onRemoveProduct(product)">Remove</button>
          <img src="https://placehold.co/300x150" alt="">
          <div class="column">
            <div class="title-shop" id="titleShop">Shop: {{ product.shop }}</div>
            <div class="title-cart" id="titleProduct">Item: {{ product.name }}</div>
            <div class="price-cart" id="priceProduct">Price: ${{ product.price }}</div>
            <input (change)="onChangeCount(product, $event)" type="number" id="countProduct" class="input" step="any" min="1" value="{{ product.count }}">
          </div>
        </div>
      </div>
    </div>
    <div class="row m-t-20 price-wrapper">
      <h3 *ngIf="finalPrice">Total price: {{ finalPrice }} </h3>
      <button class="btn" type="submit" *ngIf="products.length && finalPrice">Submit</button>
    </div>
  </form>
  <app-map></app-map>
</div>