<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <nav class="nav">
        <ul class="nav-container">
          <li>
            <a class="nav-link" routerLink="/home">Shops</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/cart">Cart</a>
          </li>
        </ul>
      </nav>
      <h1 class="title">Delivery app</h1>
      <div class="cart-wrapper" *ngIf="cartItemCount" >
        Count cart items: {{ cartItemCount }}
      </div>
    </div>
  </div>
</header>