<div class="container">
  <div *ngIf="error" class="error-message">{{ error }}</div>
  <div *ngIf="!error" class="main-wrapper">
    <section class="shops">
      <h2 class="title-section">Shops:</h2>
      <button *ngFor="let shop of shops" class="btn" (click)="onShowProducts(shop)" 
      [class.active]="shop.name === activeShop"> {{ shop.name }} </button>
    </section>
    <section class="products">
      <div *ngFor="let product of products" class="cart-product">
        <div class="cart-image">
          <img class="image" src="https://placehold.co/400x500" alt="product-image">
        </div>
        <div class="row space-between">
          <h4 class="title">{{ product.name }}</h4>
          <h5 class="price"> $ {{ product.price }}</h5>
        </div>
        <button class="btn">add to cart</button>
      </div>
    </section>
  </div>
</div>