<div class="container">
  <div class="main-wrapper">
    <section class="shops">
      <h2 class="title-section">Shops:</h2>
      <button class="btn"> McDonald's </button>
      <button class="btn"> Subway </button>
      <button class="btn"> Starbucks </button>
      <button class="btn"> KFC </button>
      <button class="btn"> Burger King </button>
    </section>
    <section class="products">
      <div class="cart-product">
        <div class="cart-image">
          <img class="image" src="https://placehold.co/400x500" alt="">
        </div>
        <h4 class="title">Burger</h4>
        <button class="btn">add to cart</button>
      </div>
      <div class="cart-product">
        <div class="cart-image">
          <img class="image" src="https://placehold.co/400x500" alt="">
        </div>
        <h4 class="title">Burger</h4>
        <button class="btn">add to cart</button>
      </div>
      <div class="cart-product">
        <div class="cart-image">
          <img class="image" src="https://placehold.co/400x500" alt="">
        </div>
        <h4 class="title">Burger</h4>
        <button class="btn">add to cart</button>
      </div>
      <div class="cart-product">
        <div class="cart-image">
          <img class="image" src="https://placehold.co/400x500" alt="">
        </div>
        <h4 class="title">Burger</h4>
        <button class="btn">add to cart</button>
      </div>
    </section>
  </div>
</div>
